<PageTitle>@Title | Deiarts</PageTitle>

<div class="pt-2">

    <div class="px-2">
        <MudAppBar Fixed="false" Dense Color="Color.Primary" Elevation="2">
            @if (BreadcrumbItems.Count > 0)
            {
                <MudBreadcrumbs Items="BreadcrumbItems"/>
            }
            <MudSpacer/>
            @CommandBar
        </MudAppBar>
    </div>

    <MudContainer Class="py-6" MaxWidth="MaxWidth.ExtraExtraLarge">
        @Content
    </MudContainer>
</div>

@code
{
    [Parameter] [EditorRequired] public required RenderFragment Content { get; set; }
    [Parameter] public RenderFragment? CommandBar { get; set; }
    [Parameter] [EditorRequired] public required string Title { get; set; }
    [Parameter] [EditorRequired] public required string Icon { get; set; }
    [Parameter] public List<BreadcrumbItem> BreadcrumbItems { get; set; } = [];
}