@page "/materials"
@using Deiarts.Prototype.Application.Shared.Materials
@using Deiarts.Prototype.Presentation.Web.Client.Services.Materials
@inject IMaterialService MaterialService

<Page Title="Materiais" Icon="@Icons.Material.Filled.PointOfSale" BreadcrumbItems="_breadcrumbItems">
    <CommandBar>
        <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Inherit"/>
    </CommandBar>
    <Content>
        Olá, mundo!
        @foreach (var material in _materials)
        {
            @* <MaterialCard Material="material" /> *@
            <div>@material.Name</div>
        }
    </Content>
</Page>

@code {
    private MaterialDto[] _materials = [];
    private readonly List<BreadcrumbItem> _breadcrumbItems =
    [
        new BreadcrumbItem("Home", href: "/", icon: Icons.Material.Filled.Home),
        new BreadcrumbItem("Matérias", href: null, disabled: true, icon: Icons.Material.Filled.ShapeLine)
    ];
    
    protected override async Task OnInitializedAsync()
    {
        _materials = await MaterialService.GetAllAsync();
    }

}